node_modules
.npm/
.pnpm-store/
.next/
.turbo/
.vercel/
coverage/

/lib/generated/prisma

# env
.env
.env*.local

# Prisma
prisma/dev.db*
prisma/*.db-journal

# misc
.DS_Store
*.log

# Archivos locales
*.tsbuildinfo
